body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-light .navbar-nav .nav-link {
  color: #071c4d;
}

.btn-light .navbar-nav .nav-link:active {
  font-weight: bold;
}

.btn-navbar-right {
  margin-top: -15px !important;
  margin-bottom: -8px !important;
  margin-right: -32px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  background-color: #115eb6;
  color: #fff;
}

header {
  margin-top: -70px;
  padding: 180px 0 165px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
}

header h1, header h6 {
  font-weight: bold;
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

header .btn-get-started {
  background-color: orange;
}

header .btn-get-started:hover {
  background-color: #FFAA69;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: orange;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: rgba(187, 116, 9, 0.933);
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: rgba(255, 168, 7, 0.933);
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background-color: #fff;
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .rounded-circle {
  width: 150px;
  height: 150px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 25px;
  color: #6e6e6e;
  min-height: 180px;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: orange;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #FFAA69;
}

.section-testimonial-content .btn-need-help {
  background-color: orange;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #FFAA69;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  min-height: 310px;
  background: #e4e6eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071c4d;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.card-details .trip-info th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}

.card-details .trip-info td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.card-details .trip-info .text-blue {
  color: #071c4d;
  font-weight: bold;
}

.card-details .trip-info .text-red {
  color: orange;
  font-weight: bold;
}

.card-details .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.card-details .bank .bank-item {
  margin-bottom: 10px;
}

.card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.card-details .bank .bank-item p {
  margin-bottom: 0;
}

.card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  margin-top: -40px;
}

.card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}

.card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
  padding-bottom: -20px;
}

.card-details h3 {
  padding-top: 40px;
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}

.card-details .disclainer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.features {
  margin-top: 20px;
}

.features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.features p {
  margin-bottom: 0;
}

.features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}

.gallery .xzoom-container .xzoom {
  width: 100px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.gallery .xzoom-container .xactive {
  border: 3 solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gallery .member-image {
  width: 40px;
  height: 40px;
}

.join-container {
  margin-top: -16px;
}

.join-container .btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  border-radius: 0;
}

.join-container .btn-join-now:hover {
  background-color: #FFAA69;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #071c4d;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #103ca1;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */